<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leave Application Form</title>
<link href="http://localhost:8080/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-4 offset-md-4">
			<div class="card">
				<div class="card-body">
				<h5 class="card-title">You are logged in as <span th:text="${user.username}"></span></h5>
				<hr/>
				<form action="#" th:action="@{/apply}" th:object="${leave}" method="post">

					<input type="hidden" th:id="employeeid" th:name="employeeid" th:value="${user.id}"/>
					<div class="form-group">
						<label th:for="*{startDate}">Start Date</label>
						<input class="form-control" type="date" th:value="*{startDate}" th:field="*{startDate}" />
						<p class="text-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
					</div>
					
					<div class="form-group">
						<label th:for="*{endDate}">End Date</label>
						<input class="form-control" type="date" th:value="*{endDate}" th:field="*{endDate}" />
						<p class="text-danger" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p> 
					</div>
					
					<div class="form-group">
						<label th:for="*{leaveType}">Leave Type</label>
						<select class="form-control" th:field="*{leaveType}">
							<option th:value="'Annual'" th:text="Annual"></option>
						    <option th:value="'Medical'" th:text="Medical"></option>
						    <option th:value="'Compensation'" th:text="Compensation"></option>
						</select>
					</div>
						
					<div class="form-group">
						<label th:for="*{reason}">Reason</label>
						<input class="form-control" type="text" th:field="*{reason}"/>
						<p class="text-danger" th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}"></p>
					</div>
					
					
					<input class="btn btn-outline-primary" type="submit" value="Submit"/>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>

<p th:text="${errormsg}"></p>
<p><a th:href="@{/index}" >Back to Index</a></p>
</body>
</html>